# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Log files
*.log


# Streamlit cache
.streamlit/

# IDE/editor files
.vscode/
.idea/

# Temporary files
*.tmp
*.bak
*.swp
